@keyframes bgAnimation-PC {
    0% {
        transform: translate(-50%, -180%) scale(3.5);
    }

    15% {
        transform: translate(-50%, -80%) scale(1.15);
    }

    100% {
        transform: translate(-50%, -20%) scale(1);
    }
}

@keyframes bgAnimation-M {
    0% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes buttonAnimation {
    0% {
        transform: translate(0, -50%) rotate(0deg);
    }

    25% {
        transform: translate(0, -50%) rotate(10deg);
    }

    75% {
        transform: translate(0, -50%) rotate(-5deg);
    }

    1000% {
        transform: translate(0, -50%) rotate(0deg);
    }
}