/*class 세팅 시작*/
.hidden {
    display: none;
}

/*class 세팅 끝*/

/*모바일 시작*/

/*background 시작*/
.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background .img-box {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.background .img-box img {
    max-width: none;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bgAnimation-M 10s backwards;
}

/*background 끝*/

/*dim-section 시작*/
#dim-section {
    height: 100vh;
    min-height: 500px;
    background-color: #f0181080;
    color: white;
    position: relative;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: #b76b2a33;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 100);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 100);
    text-wrap: nowrap;
}

header h1 {
    font-family: HakgyoansimPuzzleTTF-Black;
    font-size: 2.0rem;
}

header>div {
    font-size: 1.4rem;
}

header .clock-box {
    font-family: TTTogether;
    letter-spacing: 2px;
}

header .weather-box {
    font-family: NanumSquareRound;
}

header .weather-box #weather span:nth-child(2) img {
    width: 40px;
    vertical-align: middle;
}

.form-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box input {
    width: 300px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
    background-color: #f0181080;
    border-radius: 20px;
    -webkit-box-shadow: 7px 10px 10px 1px rgba(0, 0, 0, 100);
    box-shadow: 7px 10px 10px 1px rgba(0, 0, 0, 100);
    transition: all 0.2s;
    font-family: HakgyoansimPuzzleTTF-Black;
    letter-spacing: 3px;
}

.form-box input::placeholder {
    color: #fff;
}

.form-box input:focus,
.form-box input:hover {
    border-bottom: 2px solid #fff;
    transform: translateY(-5%);
}

.form-box button {
    display: block;
    padding: 10px 15px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    background-color: #f0181080;
    border-radius: 15px;
    -webkit-box-shadow: 7px 15px 10px 1px rgba(0, 0, 0, 100);
    box-shadow: 7px 10px 15px 1px rgba(0, 0, 0, 100);
    font-family: HakgyoansimPuzzleTTF-Black;
    letter-spacing: 1px;
}

.form-box button:hover {
    border-bottom: 2px solid #fff;
    transform: translateY(-5%);
}

.form-box #greeting p {
    padding-top: 30px;
    font-size: 3.0rem;
    font-family: TTTogether;
}

.form-box #greeting p span:last-child {
    display: block;
    text-align: right;
    font-family: MYArirang-Medium;
    font-size: 5.0rem;

}

.form-box #greeting button {
    padding: 5px 8px;
    margin: 7px 0 50px auto;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    opacity: 75%;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-wrap: nowrap;
}

.form-box #greeting button:hover {
    border-bottom: 1px solid #fff;
    opacity: 100%;
    transform: translateY(-5%);
}

#quote {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: MYArirang-Medium;
}

#quote span:first-child {
    font-size: 2.5rem;
    line-height: 1.5rem;
}

#quote span:last-child {
    display: block;
    margin-top: 15px;
    font-size: 2.0rem;
    font-weight: bold;
}

/*dim-section 끝*/

/*todo-section 시작*/
#todo-list {
    padding: 30px 10px;
}

#todo-list li {
    position: relative;
    float: right;
    max-width: 100%;
    min-width: 65%;
    min-height: 120px;
    padding: 15px 30px 45px 10px;
    margin-bottom: 40px;
    border-radius: 20px 20px 5PX;
    background: #fff;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 50);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 50);
}

#todo-list li:nth-child(5n) {
    margin-bottom: 120px;
}


#todo-list li:nth-child(5n - 4) {
    background: #fff url(../img/li-img01.png)no-repeat 100% bottom / auto 120px;
}

#todo-list li:nth-child(5n - 3) {
    background: #fff url(../img/li-img02.png)no-repeat left 100% / auto 160px;
}

#todo-list li:nth-child(5n - 2) {
    background: #fff url(../img/li-img03.png)no-repeat 10px bottom / auto 115px;
}

#todo-list li:nth-child(5n - 1) {
    background: #fff url(../img/li-img04.png)no-repeat calc(100% - 5px) calc(100% - 10px) / auto 100px;
}

#todo-list li:nth-child(5n) {
    background: #fff url(../img/li-img05.png)no-repeat center / auto 200px;
}


#todo-list li p {
    font-family: InkLipquid;
    font-size: 3.0rem;
}

#todo-list li button {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -50%);
    padding: 8px 12px;
    font-family: NanumSquareRound;
    letter-spacing: 2px;
    font-size: 1.2rem;
    background-color: #b3d30e;
    border-bottom: 2px solid transparent;
    border-radius: 0 50% 0 50%;
    text-wrap: nowrap;
    transform-origin: right bottom;
    -webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 50);
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 50);
    z-index: 5;
}

#todo-list li button:hover {
    animation: buttonAnimation 1.5s;
}

/*todo-section 끝*/

/*모바일 끝*/

/*패드 시작*/
@media screen and (min-width: 768px) {

    #wrap {
        display: flex;
    }

    /*dim-section 시작*/
    #dim-section {
        width: 50vw;
        position: sticky;
        top: 0;
        left: 0;
    }

    header h1 {
        font-size: 2.2rem;
    }

    header>div {
        font-size: 1.6rem;
    }

    .form-box input {
        margin-bottom: 50px;
        font-size: 2.0rem;
    }

    .form-box #greeting p {
        font-size: 3.4rem;
    }

    .form-box #greeting p span:last-child {
        font-size: 5.5rem;

    }

    /*dim-section 끝*/

    /*todo-section 시작*/
    #todo-section {
        width: 50%;
    }

    #todo-list li {
        min-width: 60%;
        min-height: 140px;
        border-radius: 20px 20px 5PX;
    }

    #todo-list li:nth-child(5n - 4) {
        background: #fff url(../img/li-img01.png)no-repeat 100% bottom / auto 140px;
    }
    
    #todo-list li:nth-child(5n - 3) {
        background: #fff url(../img/li-img02.png)no-repeat left 100% / auto 180px;
    }
    
    #todo-list li:nth-child(5n - 2) {
        background: #fff url(../img/li-img03.png)no-repeat 10px bottom / auto 130px;
    }
    
    #todo-list li:nth-child(5n - 1) {
        background: #fff url(../img/li-img04.png)no-repeat calc(100% - 5px) calc(100% - 10px) / auto 110px;
    }
    
    #todo-list li:nth-child(5n) {
        background: #fff url(../img/li-img05.png)no-repeat center / auto 220px;
    }

    

    #todo-list li p {
        font-size: 3.3rem;
    }

    #todo-list li button {
        font-size: 1.3rem;
    }

    /*todo-section 끝*/
}

/*패드 끝*/



/*PC 1024px 시작*/
@media screen and (min-width: 1024px) {

    /*background 시작*/

    .background .img-box img {
        width: 100%;
        height: auto;
        max-width: 100%;
        transform: translate(-50%, -20%);
        animation: bgAnimation-PC 10s backwards;
    }

    /*background 끝*/

    /*dim-section 시작*/
    header {
        height: 60px;
        padding: 0 10px;
        line-height: 60px;
    }

    header h1 {
        font-size: 2.6rem;
    }

    header>div {
        font-size: 2.0rem;
    }

    header .weather-box #weather span:nth-child(2) img {
        width: 50px;
    }

    .form-box input {
        width: 350px;
        height: 100px;
        font-size: 2.6rem;
        border-radius: 30px;
    }

    .form-box button {
        font-size: 2.4rem;
        border-radius: 20px;
    }

    .form-box #greeting p {
        font-size: 3.6rem;
    }

    .form-box #greeting p span:last-child {
        font-size: 6.0rem;

    }

    #quote span:first-child {
        font-size: 3.0rem;
        line-height: 1.6rem;
    }

    #quote span:last-child {
        margin-top: 20px;
        font-size: 2.5rem;
    }


    /*dim-section 끝*/

    /*todo-section 시작*/
    #todo-list {
        padding: 40px 20px;
    }

    #todo-list li p {
        font-size: 3.5rem;
    }

    #todo-list li button {
        font-size: 1.4rem;
    }

    /*todo-section 끝*/
}

/*PC 1024px 끝*/



/*PC 1440px 시작*/
@media screen and (min-width: 1440px) {

    /*dim-section 시작*/
    .form-box input {
        width: 400px;
        height: 120px;
        font-size: 2.8rem;
    }

    .form-box button {
        font-size: 2.6rem;
    }

    .form-box #greeting p {
        font-size: 4.0rem;
    }

    .form-box #greeting p span:last-child {
        font-size: 7.0rem;

    }

    /*dim-section 끝*/

    /*todo-section 시작*/
    #todo-list {
        padding: 60px 30px;
    }

    #todo-list li {
        min-width: 51%;
        min-height: 170px;
        padding: 15px 30px 45px 10px;
        margin-bottom: 50px;
    }

    #todo-list li:nth-child(5n - 4) {
        background: #fff url(../img/li-img01.png)no-repeat 100% bottom / auto 168px;
    }
    
    #todo-list li:nth-child(5n - 3) {
        background: #fff url(../img/li-img02.png)no-repeat left 100% / auto 250px;
    }
    
    #todo-list li:nth-child(5n - 2) {
        background: #fff url(../img/li-img03.png)no-repeat 10px bottom / auto 165px;
    }
    
    #todo-list li:nth-child(5n - 1) {
        background: #fff url(../img/li-img04.png)no-repeat calc(100% - 5px) calc(100% - 10px) / auto 150px;
    }
    
    #todo-list li:nth-child(5n) {
        background: #fff url(../img/li-img05.png)no-repeat center / auto 300px;
    }

    #todo-list li:nth-child(5n) {
        margin-bottom: 150px;
    }

    /*todo-section 끝*/
}

/*PC 1440px 끝*/